@charset "UTF-8";
/* =====================
  configuration setting
===================== */
.section-title--white {
  color: #fff;
}
.section-title--white .section-title__en {
  color: #fff;
}
.section-title--white .section-title__en::after, .section-title--white .section-title__en::before {
  background-color: #fff;
}
.section-title__en {
  font-family: "EB Garamond", serif;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.2;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  .section-title__en {
    font-size: 40px;
    font-size: 4rem;
  }
}
@media print {
  .section-title__en {
    font-size: 40px;
    font-size: 4rem;
  }
}
.section-title__ja {
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: "normal";
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-top: 0.5em;
}
@media print, screen and (min-width: 768px) {
  .section-title__ja {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media print {
  .section-title__ja {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.row-title {
  align-items: center;
  display: flex;
}
.row-title__en {
  display: flex;
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin-right: 0.5em;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  .row-title__en {
    font-size: 32px;
    font-size: 3.2rem;
  }
}
@media print {
  .row-title__en {
    font-size: 32px;
    font-size: 3.2rem;
  }
}
.row-title__en::after {
  -webkit-transform: rotate(30deg);
  background-color: #000;
  content: " ";
  display: block;
  margin-left: 0.5em;
  opacity: 0.15;
  position: relative;
  transform: rotate(30deg);
  width: 1px;
}
.row-title__ja {
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: "normal";
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-top: 0.5em;
}
@media print, screen and (min-width: 768px) {
  .row-title__ja {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media print {
  .row-title__ja {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.content-title {
  font-size: 18px;
  font-size: 1.8rem;
}
@media print, screen and (min-width: 768px) {
  .content-title {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
@media print {
  .content-title {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
.content-title__en {
  display: flex;
  font-family: "EB Garamond", serif;
  font-size: 65%;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1;
  margin-right: 0.5em;
  opacity: 0.4;
  position: relative;
}
.content-title__ja {
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, serif;
  font-size: 100%;
  font-weight: "normal";
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-top: 0.5em;
}

.ll-title {
  font-size: 32px;
  font-size: 3.2rem;
  padding-left: 1em;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  .ll-title {
    font-size: 40px;
    font-size: 4rem;
  }
}
@media print {
  .ll-title {
    font-size: 40px;
    font-size: 4rem;
  }
}
.ll-title::before {
  background-color: #181818;
  content: " ";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0.6em;
  width: 0.75em;
}
.ll-title__en {
  font-family: "EB Garamond", serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.2;
}
.ll-title__ja {
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: "normal";
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-top: 0.5em;
}
@media print, screen and (min-width: 768px) {
  .ll-title__ja {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media print {
  .ll-title__ja {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.tl-title {
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5;
  padding-top: 1em;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  .tl-title {
    font-size: 32px;
    font-size: 3.2rem;
  }
}
@media print {
  .tl-title {
    font-size: 32px;
    font-size: 3.2rem;
  }
}
.tl-title::before, .tl-title::after {
  background-color: #ddd;
  content: " ";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.tl-title::after {
  background-color: #181818;
  width: 5em;
}
.tl-title--filled {
  background-color: #f9f9f9;
  padding: 1em 0.5em 1em 1.5em;
}
.tl-title__min {
  font-size: 65%;
}

.bl-title {
  border-left: 2px solid #181818;
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 600;
  font-weight: 600;
  line-height: 1.3;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-top: 0.5em;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  .bl-title {
    border-width: 3px;
    font-size: 24px;
    font-size: 2.4rem;
  }
}
@media print {
  .bl-title {
    border-width: 3px;
    font-size: 24px;
    font-size: 2.4rem;
  }
}

.h3-title {
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
@media print, screen and (min-width: 768px) {
  .h3-title {
    font-size: 22px;
    font-size: 2.2rem;
  }
}
@media print {
  .h3-title {
    font-size: 22px;
    font-size: 2.2rem;
  }
}

.h5-title, .h5-title--point {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
}
@media print, screen and (min-width: 768px) {
  .h5-title, .h5-title--point {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
@media print {
  .h5-title, .h5-title--point {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
.h5-title--point {
  padding-left: 1em;
  position: relative;
}
.h5-title--point::before {
  -webkit-transform: translate(0, -50%);
  background-color: #181818;
  border-radius: 50%;
  content: " ";
  display: block;
  height: 0.25em;
  left: 0.25em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 0.25em;
}

.btn, .btn--back, .btn--lg, .btn--min, .btn--outline-white, .btn--outline, .btn--white, .btn--black, .btn--red, .table__btns a, .table__btn a, .btn-submit, .btn--center, .btn--en, .btn--sans, .btn-back {
  align-items: center;
  border: none;
  border-radius: 100px;
  color: #181818;
  display: inline-flex;
  font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: "normal";
  height: 50px;
  justify-content: space-between;
  letter-spacing: 0.05em;
  line-height: 1.3;
  max-width: 100%;
  padding: 5px 1em 5px 2em;
  position: relative;
  text-decoration: none !important;
  transition: all 0.2s linear;
  width: 100%;
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover span[class^=link-arrow], .btn--back:hover span[class^=link-arrow], .btn--lg:hover span[class^=link-arrow], .btn--min:hover span[class^=link-arrow], .btn--outline-white:hover span[class^=link-arrow], .btn--outline:hover span[class^=link-arrow], .btn--white:hover span[class^=link-arrow], .btn--black:hover span[class^=link-arrow], .btn--red:hover span[class^=link-arrow], .table__btns a:hover span[class^=link-arrow], .table__btn a:hover span[class^=link-arrow], .btn-submit:hover span[class^=link-arrow], .btn--center:hover span[class^=link-arrow], .btn--en:hover span[class^=link-arrow], .btn--sans:hover span[class^=link-arrow], .btn-back:hover span[class^=link-arrow] {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}
@media print, screen and (min-width: 768px) {
  .btn, .btn--back, .btn--lg, .btn--min, .btn--outline-white, .btn--outline, .btn--white, .btn--black, .btn--red, .table__btns a, .table__btn a, .btn-submit, .btn--center, .btn--en, .btn--sans, .btn-back {
    height: 55px;
    min-width: 180px;
    width: auto;
  }
}
@media print {
  .btn, .btn--back, .btn--lg, .btn--min, .btn--outline-white, .btn--outline, .btn--white, .btn--black, .btn--red, .table__btns a, .table__btn a, .btn-submit, .btn--center, .btn--en, .btn--sans, .btn-back {
    height: 55px;
    min-width: 180px;
    width: auto;
  }
}
.btn--sans, .btn-back,
.btn-submit {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Lato, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
}
.btn--en {
  font-family: "EB Garamond", serif;
  font-weight: 100;
  letter-spacing: 0.1em;
}
.btn--center {
  justify-content: center;
}
.btn--red, .table__btns a, .table__btn a, .btn-submit {
  background-color: #181818;
  color: #fff !important;
}
.btn--red:active, .table__btns a:active, .table__btn a:active, .btn-submit:active, .btn--red:focus, .table__btns a:focus, .table__btn a:focus, .btn-submit:focus {
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .btn--red:hover, .table__btns a:hover, .table__btn a:hover, .btn-submit:hover {
    background-color: #323232;
    color: #fff;
  }
}
.btn--black {
  background-color: #181818;
  color: #fff;
}
.btn--black:active, .btn--black:focus {
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .btn--black:hover {
    background-color: #333;
    color: #fff;
  }
}
.btn--white {
  background-color: #fff;
  border: 1px solid #ddd;
}
@media print, screen and (min-width: 768px) {
  .btn--white {
    transition: all 0.25s ease;
    transition-property: background color;
  }
  .btn--white:hover {
    background-color: #181818;
    border-color: #181818;
    color: #fff;
  }
}
@media print {
  .btn--white {
    transition: all 0.25s ease;
    transition-property: background color;
  }
  .btn--white:hover {
    background-color: #181818;
    border-color: #181818;
    color: #fff;
  }
}
.btn--outline {
  background-color: #fff;
  border: 1px solid #ddd;
}
@media (hover: hover) and (pointer: fine) {
  .btn--outline:hover {
    transition: all 0.25s ease;
  }
  .btn--outline:hover:hover {
    background-color: #181818;
    border-color: #181818;
    color: #fff;
  }
}
.btn--outline-white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
@media print, screen and (min-width: 768px) {
  .btn--outline-white {
    transition: all 0.25s ease;
    transition-property: background color;
  }
  .btn--outline-white:hover {
    color: #fff;
  }
}
@media print {
  .btn--outline-white {
    transition: all 0.25s ease;
    transition-property: background color;
  }
  .btn--outline-white:hover {
    color: #fff;
  }
}
.btn--min {
  font-size: 12px;
  font-size: 1.2rem;
  height: 45px;
  width: auto;
}
@media print, screen and (min-width: 768px) {
  .btn--min {
    font-size: 13px;
    font-size: 1.3rem;
    width: 180px;
  }
}
@media print {
  .btn--min {
    font-size: 13px;
    font-size: 1.3rem;
    width: 180px;
  }
}
.btn--lg {
  height: 50px;
}
@media print, screen and (min-width: 768px) {
  .btn--lg {
    height: 65px;
    width: 360px;
  }
}
@media print {
  .btn--lg {
    height: 65px;
    width: 360px;
  }
}
.btn--back {
  padding: 5px 2em 5px 1em;
}
.btn--back .link-arrow {
  -webkit-transform: rotate(180deg);
  margin-left: 0;
  margin-right: 0.5em;
  transform: rotate(180deg);
}
@media (hover: hover) and (pointer: fine) {
  .btn--back:hover .link-arrow {
    -webkit-transform: rotate(180deg) translate(50%, 0);
    transform: rotate(180deg) translate(50%, 0);
  }
}
.btn__icon {
  align-items: center;
  background-color: #7c1c1c;
  border-radius: 50%;
  display: flex;
  height: 2em;
  justify-content: center;
  margin-left: 1em;
  text-align: center;
  width: 2em;
}
.btn__icon img {
  height: auto;
  width: 1.2em;
}
.btn span[class^=link-arrow], .btn--sans span[class^=link-arrow], .btn-back span[class^=link-arrow],
.btn-submit span[class^=link-arrow], .btn--en span[class^=link-arrow], .btn--center span[class^=link-arrow], .btn--red span[class^=link-arrow], .table__btns a span[class^=link-arrow], .table__btn a span[class^=link-arrow], .btn--black span[class^=link-arrow], .btn--white span[class^=link-arrow], .btn--outline span[class^=link-arrow], .btn--outline-white span[class^=link-arrow], .btn--min span[class^=link-arrow], .btn--lg span[class^=link-arrow], .btn--back span[class^=link-arrow] {
  margin-left: 0.5em;
}

.link-arrow {
  background-color: #181818;
  border-radius: 50%;
  display: block;
  font-size: 13px;
  font-size: 1.3rem;
  height: 1em;
  position: relative;
  width: 1em;
}
@media print, screen and (min-width: 768px) {
  .link-arrow {
    font-size: 15px;
    font-size: 1.5rem;
    transition: all 0.25s ease;
  }
}
@media print {
  .link-arrow {
    font-size: 15px;
    font-size: 1.5rem;
    transition: all 0.25s ease;
  }
}
.link-arrow::before, .link-arrow::after {
  background-color: #fff;
  content: " ";
  display: block;
  height: 1px;
  left: 48%;
  position: absolute;
  top: 50%;
  transition: all 0.25s ease;
  width: 30%;
}
.link-arrow::before {
  -webkit-transform-origin: right bottom;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: right bottom;
}
.link-arrow::after {
  -webkit-transform-origin: right top;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: right top;
}
.link-arrow--outline {
  background-color: #fff;
  border: 1px solid #181818;
}
.link-arrow--outline::before, .link-arrow--outline::after {
  background-color: #181818;
}
.link-arrow--outline-white {
  background-color: transparent;
  border: 1px solid #fff;
}
.link-arrow--outline-white::before, .link-arrow--outline-white::after {
  background-color: #fff;
}
.link-arrow--white {
  background-color: #fff;
}
.link-arrow--white::before, .link-arrow--white::after {
  background-color: #181818;
}
.link-arrow--lg {
  font-size: 24px;
  font-size: 2.4rem;
}
@media print, screen and (min-width: 768px) {
  .link-arrow--lg {
    font-size: 40px;
    font-size: 4rem;
  }
}
@media print {
  .link-arrow--lg {
    font-size: 40px;
    font-size: 4rem;
  }
}
.link-arrow--lg::before, .link-arrow--lg::after {
  width: 20%;
}
.form-btns {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  width: 100%;
}
@media print, screen and (min-width: 768px) {
  .form-btns {
    margin-top: 32px;
  }
}
@media print {
  .form-btns {
    margin-top: 32px;
  }
}
.form-btns .wpcf7-spinner {
  position: absolute;
}

.btn-back,
.btn-submit {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 600;
  justify-content: center;
  margin: 0 8px;
  max-width: 320px;
  padding: 5px 1em;
}
@media print, screen and (min-width: 768px) {
  .btn-back,
.btn-submit {
    font-size: 14px;
    font-size: 1.4rem;
    width: 320px;
  }
}
@media print {
  .btn-back,
.btn-submit {
    font-size: 14px;
    font-size: 1.4rem;
    width: 320px;
  }
}
.btn-back:disabled,
.btn-submit:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.btn-submit:disabled:hover {
  background-color: #181818;
}

.btn-back {
  background-color: #aaa;
  color: #fff;
}
.btn-back:visited {
  color: #fff;
}
@media print, screen and (min-width: 768px) {
  .btn-back:hover {
    color: #666;
  }
}
@media print {
  .btn-back:hover {
    color: #666;
  }
}

@media screen and (max-width: 767px) {
  .wrapper-responsive-table {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: block;
    margin-right: -15px;
    overflow-y: hidden;
    padding-bottom: 5px;
  }
  .wrapper-responsive-table__inner {
    display: inline-block;
    min-width: 100%;
    padding-right: 15px;
  }
  .wrapper-responsive-table table {
    min-width: 600px;
  }
  .wrapper-responsive-table--sticky table thead tr th:first-child,
.wrapper-responsive-table--sticky table tbody tr th:first-child {
    box-shadow: 0 5px 5px rgb(0, 0, 0);
    left: 0;
    position: sticky;
    z-index: 10;
  }
}

.table, .table--low, .editor-content table, body#tinymce.wp-editor table, .table--detail, .table--lined, .table--th-center, .table--td-center, .table--even-bg {
  border-collapse: collapse;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;
}
@media print, screen and (min-width: 768px) {
  .table, .table--low, .editor-content table, body#tinymce.wp-editor table, .table--detail, .table--lined, .table--th-center, .table--td-center, .table--even-bg {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
@media print {
  .table, .table--low, .editor-content table, body#tinymce.wp-editor table, .table--detail, .table--lined, .table--th-center, .table--td-center, .table--even-bg {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
.table tr, .table--low tr, .editor-content table tr, body#tinymce.wp-editor table tr, .table--detail tr, .table--lined tr, .table--th-center tr, .table--td-center tr, .table--even-bg tr {
  border-bottom: 1px solid #ddd;
}
.table th, .table--low th, .editor-content table th, body#tinymce.wp-editor table th, .table--detail th, .table--lined th, .table--th-center th, .table--td-center th, .table--even-bg th,
.table td,
.table--low td,
.editor-content table td,
body#tinymce.wp-editor table td,
.table--detail td,
.table--lined td,
.table--th-center td,
.table--td-center td,
.table--even-bg td {
  border-right: 1px solid #ddd;
  padding: 10px 5px;
  position: relative;
  vertical-align: middle;
}
@media print, screen and (min-width: 768px) {
  .table th, .table--low th, .editor-content table th, body#tinymce.wp-editor table th, .table--detail th, .table--lined th, .table--th-center th, .table--td-center th, .table--even-bg th,
.table td,
.table--low td,
.editor-content table td,
body#tinymce.wp-editor table td,
.table--detail td,
.table--lined td,
.table--th-center td,
.table--td-center td,
.table--even-bg td {
    padding: 10px 24px;
  }
}
@media print {
  .table th, .table--low th, .editor-content table th, body#tinymce.wp-editor table th, .table--detail th, .table--lined th, .table--th-center th, .table--td-center th, .table--even-bg th,
.table td,
.table--low td,
.editor-content table td,
body#tinymce.wp-editor table td,
.table--detail td,
.table--lined td,
.table--th-center td,
.table--td-center td,
.table--even-bg td {
    padding: 10px 24px;
  }
}
.table thead th, .table--low thead th, .editor-content table thead th, body#tinymce.wp-editor table thead th, .table--detail thead th, .table--lined thead th, .table--th-center thead th, .table--td-center thead th, .table--even-bg thead th,
.table thead td,
.table--low thead td,
.editor-content table thead td,
body#tinymce.wp-editor table thead td,
.table--detail thead td,
.table--lined thead td,
.table--th-center thead td,
.table--td-center thead td,
.table--even-bg thead td,
.table .tr-thead th,
.table--low .tr-thead th,
.editor-content table .tr-thead th,
body#tinymce.wp-editor table .tr-thead th,
.table--detail .tr-thead th,
.table--lined .tr-thead th,
.table--th-center .tr-thead th,
.table--td-center .tr-thead th,
.table--even-bg .tr-thead th,
.table .tr-thead td,
.table--low .tr-thead td,
.editor-content table .tr-thead td,
body#tinymce.wp-editor table .tr-thead td,
.table--detail .tr-thead td,
.table--lined .tr-thead td,
.table--th-center .tr-thead td,
.table--td-center .tr-thead td,
.table--even-bg .tr-thead td {
  background-color: #644;
  color: #fff;
  font-weight: 500;
  height: auto;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
@media print, screen and (min-width: 768px) {
  .table tbody td, .table--low tbody td, .editor-content table tbody td, body#tinymce.wp-editor table tbody td, .table--detail tbody td, .table--lined tbody td, .table--th-center tbody td, .table--td-center tbody td, .table--even-bg tbody td {
    height: 60px;
  }
}
@media print {
  .table tbody td, .table--low tbody td, .editor-content table tbody td, body#tinymce.wp-editor table tbody td, .table--detail tbody td, .table--lined tbody td, .table--th-center tbody td, .table--td-center tbody td, .table--even-bg tbody td {
    height: 60px;
  }
}
.table tbody th, .table--low tbody th, .editor-content table tbody th, body#tinymce.wp-editor table tbody th, .table--detail tbody th, .table--lined tbody th, .table--th-center tbody th, .table--td-center tbody th, .table--even-bg tbody th {
  background-color: #f9f4f2;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  width: 60px;
}
@media print, screen and (min-width: 768px) {
  .table tbody th, .table--low tbody th, .editor-content table tbody th, body#tinymce.wp-editor table tbody th, .table--detail tbody th, .table--lined tbody th, .table--th-center tbody th, .table--td-center tbody th, .table--even-bg tbody th {
    height: 55px;
    width: 240px;
  }
}
@media print {
  .table tbody th, .table--low tbody th, .editor-content table tbody th, body#tinymce.wp-editor table tbody th, .table--detail tbody th, .table--lined tbody th, .table--th-center tbody th, .table--td-center tbody th, .table--even-bg tbody th {
    height: 55px;
    width: 240px;
  }
}
.table tbody th .min, .table--low tbody th .min, .editor-content table tbody th .min, body#tinymce.wp-editor table tbody th .min, .table--detail tbody th .min, .table--lined tbody th .min, .table--th-center tbody th .min, .table--td-center tbody th .min, .table--even-bg tbody th .min {
  display: block;
  font-size: 85%;
  margin-top: 0.5em;
}
.table strong, .table--low strong, .editor-content table strong, body#tinymce.wp-editor table strong, .table--detail strong, .table--lined strong, .table--th-center strong, .table--td-center strong, .table--even-bg strong {
  font-weight: 500;
}
.table--even-bg tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
.table--td-center tbody td {
  text-align: center;
}
.table--th-center tbody th {
  text-align: center;
}
.table--lined {
  border-left: none;
}
.table--lined tbody th,
.table--lined tbody td {
  border-right: none;
  display: block;
}
@media print, screen and (min-width: 768px) {
  .table--lined tbody th,
.table--lined tbody td {
    display: table-cell;
    height: 80px;
    padding: 15px;
  }
}
@media print {
  .table--lined tbody th,
.table--lined tbody td {
    display: table-cell;
    height: 80px;
    padding: 15px;
  }
}
.table--lined tbody th {
  background-color: transparent;
  color: #666;
  font-size: 90%;
  font-weight: 500;
  padding-bottom: 0;
  text-align: left;
}
@media print, screen and (min-width: 768px) {
  .table--lined tbody th {
    border-bottom: 1px solid #181818;
    padding-bottom: 10px;
    width: 15em;
  }
}
@media print {
  .table--lined tbody th {
    border-bottom: 1px solid #181818;
    padding-bottom: 10px;
    width: 15em;
  }
}
.table--lined tbody tr {
  border-bottom: 1px solid #ddd;
}
.table--lined tbody tr:first-child {
  border-top: 1px solid #ddd;
}
@media print, screen and (min-width: 768px) {
  .table--lined tbody tr:first-child th {
    border-top: 1px solid #181818;
  }
}
@media print {
  .table--lined tbody tr:first-child th {
    border-top: 1px solid #181818;
  }
}
.table--detail {
  font-size: 12px;
  font-size: 1.2rem;
}
@media print, screen and (min-width: 768px) {
  .table--detail {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
@media print {
  .table--detail {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
.table--detail tbody th,
.table--detail tbody td {
  display: block;
}
@media print, screen and (min-width: 768px) {
  .table--detail tbody th,
.table--detail tbody td {
    display: table-cell;
  }
}
@media print {
  .table--detail tbody th,
.table--detail tbody td {
    display: table-cell;
  }
}
.table--detail tbody th {
  width: 100%;
}
@media print, screen and (min-width: 768px) {
  .table--detail tbody th {
    width: 180px;
  }
}
@media print {
  .table--detail tbody th {
    width: 180px;
  }
}
.table--simple {
  background: transparent;
  border: none;
  font-size: 11px;
  font-size: 1.1rem;
}
@media print, screen and (min-width: 768px) {
  .table--simple {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
@media print {
  .table--simple {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
.table--simple thead tr,
.table--simple thead th,
.table--simple thead td,
.table--simple tbody tr,
.table--simple tbody th,
.table--simple tbody td {
  background: transparent;
  border: none;
  height: auto;
  padding: 0;
  vertical-align: top;
}
.table--simple tbody tr:first-child th,
.table--simple tbody tr:first-child td {
  padding-top: 0;
}
.table--simple tbody th,
.table--simple tbody td {
  padding-top: 0.5em;
}
.table--simple tbody th {
  font-weight: normal;
  opacity: 0.5;
  padding-right: 1em;
}
@media print, screen and (min-width: 768px) {
  .table--simple tbody th {
    width: 4em;
  }
}
@media print {
  .table--simple tbody th {
    width: 4em;
  }
}
.table--low, .editor-content table, body#tinymce.wp-editor table {
  font-size: 10px;
  font-size: 1rem;
}
@media print, screen and (min-width: 768px) {
  .table--low, .editor-content table, body#tinymce.wp-editor table {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media print {
  .table--low, .editor-content table, body#tinymce.wp-editor table {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
.table--low thead th, .editor-content table thead th, body#tinymce.wp-editor table thead th,
.table--low thead td,
.editor-content table thead td,
body#tinymce.wp-editor table thead td,
.table--low tbody th,
.editor-content table tbody th,
body#tinymce.wp-editor table tbody th,
.table--low tbody td,
.editor-content table tbody td,
body#tinymce.wp-editor table tbody td {
  height: auto;
  padding: 4px;
  white-space: wrap;
}
@media print, screen and (min-width: 768px) {
  .table--low thead th, .editor-content table thead th, body#tinymce.wp-editor table thead th,
.table--low thead td,
.editor-content table thead td,
body#tinymce.wp-editor table thead td,
.table--low tbody th,
.editor-content table tbody th,
body#tinymce.wp-editor table tbody th,
.table--low tbody td,
.editor-content table tbody td,
body#tinymce.wp-editor table tbody td {
    padding: 8px;
  }
}
@media print {
  .table--low thead th, .editor-content table thead th, body#tinymce.wp-editor table thead th,
.table--low thead td,
.editor-content table thead td,
body#tinymce.wp-editor table thead td,
.table--low tbody th,
.editor-content table tbody th,
body#tinymce.wp-editor table tbody th,
.table--low tbody td,
.editor-content table tbody td,
body#tinymce.wp-editor table tbody td {
    padding: 8px;
  }
}
.table__min {
  font-size: 85%;
}
.table__btns {
  text-align: center;
  width: 50px;
}
@media print, screen and (min-width: 768px) {
  .table__btns {
    width: 220px;
  }
}
@media print {
  .table__btns {
    width: 220px;
  }
}
.table__btns a {
  font-size: 85%;
  height: 35px;
  min-width: 0;
  padding: 0;
  white-space: nowrap;
  width: 40px;
}
@media print, screen and (min-width: 768px) {
  .table__btns a {
    height: 40px;
    width: 70px;
  }
}
@media print {
  .table__btns a {
    height: 40px;
    width: 70px;
  }
}
@media print, screen and (min-width: 768px) {
  .table__btns a.edit {
    margin-right: 2px;
  }
}
@media print {
  .table__btns a.edit {
    margin-right: 2px;
  }
}
.table__btns a.delete {
  background-color: #bbb;
  margin-top: 5px;
}
@media (hover: hover) and (pointer: fine) {
  .table__btns a.delete:hover {
    background-color: #999;
  }
}
@media print, screen and (min-width: 768px) {
  .table__btns a.delete {
    margin-left: 2px;
    margin-top: 0;
  }
}
@media print {
  .table__btns a.delete {
    margin-left: 2px;
    margin-top: 0;
  }
}
.table__btn {
  width: 100px;
}
@media print, screen and (min-width: 768px) {
  .table__btn {
    width: 140px;
  }
}
@media print {
  .table__btn {
    width: 140px;
  }
}
.table__btn a {
  font-size: 85%;
  height: 35px;
  min-width: 0;
  width: 80px;
}
@media print, screen and (min-width: 768px) {
  .table__btn a {
    height: 40px;
    width: 120px;
  }
}
@media print {
  .table__btn a {
    height: 40px;
    width: 120px;
  }
}
.table a, .table--even-bg a, .table--td-center a, .table--th-center a, .table--lined a, .table--detail a, .table--low a, .editor-content table a, body#tinymce.wp-editor table a {
  text-decoration: underline;
}

.table-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media print, screen and (min-width: 768px) {
  .table-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media print {
  .table-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.table-list > li {
  margin-top: 0.5em;
}
.table-list > li:first-child {
  margin-top: 0;
}
@media print, screen and (min-width: 768px) {
  .table-list > li {
    width: 50%;
  }
  .table-list > li:nth-child(2) {
    margin-top: 0;
  }
}
@media print {
  .table-list > li {
    width: 50%;
  }
  .table-list > li:nth-child(2) {
    margin-top: 0;
  }
}

/* =====================
  editor(WYSIWYG)
===================== */
table .post-content {
  font-size: 10px;
  line-height: 1.5;
}
@media print, screen and (min-width: 768px) {
  table .post-content {
    font-size: 13px;
  }
}
@media print {
  table .post-content {
    font-size: 13px;
  }
}
table .post-content p {
  margin: 0;
}

.editor-content {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.75;
  word-break: break-all;
}
@media print, screen and (min-width: 768px) {
  .editor-content {
    font-size: 16px;
    line-height: 1.75;
  }
}
@media print {
  .editor-content {
    font-size: 16px;
    line-height: 1.75;
  }
}
.editor-content.text-min {
  font-size: 13px;
}
@media print, screen and (min-width: 768px) {
  .editor-content.text-min {
    font-size: 15px;
  }
}
@media print {
  .editor-content.text-min {
    font-size: 15px;
  }
}
.editor-content button,
.editor-content input,
.editor-content select,
.editor-content textarea {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.66;
}
.editor-content h1,
.editor-content h2,
.editor-content h3,
.editor-content h4 {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5em;
}
@media print, screen and (min-width: 768px) {
  .editor-content h1,
.editor-content h2,
.editor-content h3,
.editor-content h4 {
    line-height: 1.75;
  }
}
@media print {
  .editor-content h1,
.editor-content h2,
.editor-content h3,
.editor-content h4 {
    line-height: 1.75;
  }
}
.editor-content h1:first-child,
.editor-content h2:first-child,
.editor-content h3:first-child,
.editor-content h4:first-child,
.editor-content h5:first-child,
.editor-content h6:first-child,
.editor-content p:first-child {
  margin-top: 0;
}
.editor-content h1 {
  margin-top: 24px;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  .editor-content h1 {
    margin-top: 40px;
  }
}
@media print {
  .editor-content h1 {
    margin-top: 40px;
  }
}
.editor-content h2 {
  font-size: 20px;
  margin-top: 24px;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  .editor-content h2 {
    font-size: 28px;
    margin-top: 40px;
  }
}
@media print {
  .editor-content h2 {
    font-size: 28px;
    margin-top: 40px;
  }
}
.editor-content h3 {
  margin-top: 16px;
}
@media print, screen and (min-width: 768px) {
  .editor-content h3 {
    margin-top: 24px;
  }
}
@media print {
  .editor-content h3 {
    margin-top: 24px;
  }
}
.editor-content h4 {
  margin-top: 16px;
}
@media print, screen and (min-width: 768px) {
  .editor-content h4 {
    margin-top: 24px;
  }
}
@media print {
  .editor-content h4 {
    margin-top: 24px;
  }
}
.editor-content h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-top: 8px;
}
@media print, screen and (min-width: 768px) {
  .editor-content h5 {
    font-size: 18px;
    margin-top: 16px;
  }
}
@media print {
  .editor-content h5 {
    font-size: 18px;
    margin-top: 16px;
  }
}
.editor-content h6 {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  margin-top: 8px;
}
@media print, screen and (min-width: 768px) {
  .editor-content h6 {
    font-size: 16px;
    margin-top: 16px;
  }
}
@media print {
  .editor-content h6 {
    font-size: 16px;
    margin-top: 16px;
  }
}
.editor-content p,
.editor-content table {
  margin-top: 4px;
}
@media print, screen and (min-width: 768px) {
  .editor-content p,
.editor-content table {
    margin-top: 8px;
  }
}
@media print {
  .editor-content p,
.editor-content table {
    margin-top: 8px;
  }
}
.editor-content dfn,
.editor-content cite,
.editor-content em,
.editor-content i {
  font-style: italic;
}
.editor-content blockquote {
  background-color: #f7f7f7;
  color: #666;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 0.5em;
  padding-left: 1.5em;
}
@media print, screen and (min-width: 768px) {
  .editor-content blockquote {
    font-size: 15px;
  }
}
@media print {
  .editor-content blockquote {
    font-size: 15px;
  }
}
.editor-content blockquote.alignleft,
.editor-content blockquote.alignright {
  font-size: 14px;
  font-size: 1.4rem;
  width: 34%;
}
.editor-content address {
  margin: 0 0 1.5em;
}
.editor-content pre {
  background: #f7f7f7;
  line-height: 1.5;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
.editor-content code,
.editor-content kbd,
.editor-content tt,
.editor-content var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
.editor-content abbr,
.editor-content acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
.editor-content mark,
.editor-content ins {
  background: #eee;
  text-decoration: none;
}
.editor-content big {
  font-size: 125%;
}
.editor-content dl dt {
  font-weight: 600;
}
.editor-content blockquote,
.editor-content q {
  quotes: "" "";
}
.editor-content blockquote:before,
.editor-content blockquote:after,
.editor-content q:before,
.editor-content q:after {
  content: "";
}
.editor-content hr {
  background-color: #bbb;
  border: 0;
  height: 1px;
  margin-bottom: 1em;
}
.editor-content ul,
.editor-content ol {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 1em;
  padding: 0;
}
.editor-content ul {
  list-style: disc;
}
.editor-content ol h1,
.editor-content ol h2,
.editor-content ol h3,
.editor-content ol h4,
.editor-content ol h5,
.editor-content ol h6 {
  border: none;
  padding: 0;
}
.editor-content ol h3 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 10px;
}
@media print, screen and (min-width: 768px) {
  .editor-content ol h3 {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
@media print {
  .editor-content ol h3 {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
.editor-content ol h4 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
@media print, screen and (min-width: 768px) {
  .editor-content ol h4 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media print {
  .editor-content ol h4 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
.editor-content ol p {
  margin-bottom: 5px;
}
.editor-content ol li {
  margin-bottom: 0.5em;
}
.editor-content li > ul,
.editor-content li > ol {
  margin-bottom: 1em;
  margin-left: 1em;
}
.editor-content li ol {
  font-size: 90%;
}
.editor-content li ol li {
  margin-bottom: 0.5em;
}
.editor-content table {
  font-size: 10px;
  font-size: 1rem;
}
@media print, screen and (min-width: 768px) {
  .editor-content table {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
@media print {
  .editor-content table {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
.editor-content table tbody th {
  width: auto;
}
.editor-content a {
  color: #181818;
  text-decoration: underline;
}
.editor-content a:hover {
  color: #323232;
}
.editor-content .btn-blue {
  color: #fff;
}
.editor-content .btn-blue:hover {
  color: #fff;
}
.editor-content img {
  display: block;
  height: auto;
  max-width: 100%;
}
.editor-content .box img {
  margin: 0 auto;
}
.editor-content embed,
.editor-content iframe,
.editor-content object {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.editor-content strong {
  font-weight: 700;
}
.editor-content em {
  font-style: italic;
}
.editor-content blockquote {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
  display: block;
}

/*
  editor css
*/
body#tinymce.wp-editor {
  -webkit-text-size-adjust: 100%;
  color: #181818;
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Lato, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6666666667;
  line-height: 1.75;
  word-break: break-all;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media print {
  body#tinymce.wp-editor {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor {
    font-size: 16px;
    line-height: 1.75;
  }
}
@media print {
  body#tinymce.wp-editor {
    font-size: 16px;
    line-height: 1.75;
  }
}
body#tinymce.wp-editor.text-min {
  font-size: 13px;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor.text-min {
    font-size: 15px;
  }
}
@media print {
  body#tinymce.wp-editor.text-min {
    font-size: 15px;
  }
}
body#tinymce.wp-editor button,
body#tinymce.wp-editor input,
body#tinymce.wp-editor select,
body#tinymce.wp-editor textarea {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.66;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4 {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5em;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4 {
    line-height: 1.75;
  }
}
@media print {
  body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4 {
    line-height: 1.75;
  }
}
body#tinymce.wp-editor h1:first-child,
body#tinymce.wp-editor h2:first-child,
body#tinymce.wp-editor h3:first-child,
body#tinymce.wp-editor h4:first-child,
body#tinymce.wp-editor h5:first-child,
body#tinymce.wp-editor h6:first-child,
body#tinymce.wp-editor p:first-child {
  margin-top: 0;
}
body#tinymce.wp-editor h1 {
  margin-top: 24px;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor h1 {
    margin-top: 40px;
  }
}
@media print {
  body#tinymce.wp-editor h1 {
    margin-top: 40px;
  }
}
body#tinymce.wp-editor h2 {
  font-size: 20px;
  margin-top: 24px;
  position: relative;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor h2 {
    font-size: 28px;
    margin-top: 40px;
  }
}
@media print {
  body#tinymce.wp-editor h2 {
    font-size: 28px;
    margin-top: 40px;
  }
}
body#tinymce.wp-editor h3 {
  margin-top: 16px;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor h3 {
    margin-top: 24px;
  }
}
@media print {
  body#tinymce.wp-editor h3 {
    margin-top: 24px;
  }
}
body#tinymce.wp-editor h4 {
  margin-top: 16px;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor h4 {
    margin-top: 24px;
  }
}
@media print {
  body#tinymce.wp-editor h4 {
    margin-top: 24px;
  }
}
body#tinymce.wp-editor h5 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-top: 8px;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor h5 {
    font-size: 18px;
    margin-top: 16px;
  }
}
@media print {
  body#tinymce.wp-editor h5 {
    font-size: 18px;
    margin-top: 16px;
  }
}
body#tinymce.wp-editor h6 {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  margin-top: 8px;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor h6 {
    font-size: 16px;
    margin-top: 16px;
  }
}
@media print {
  body#tinymce.wp-editor h6 {
    font-size: 16px;
    margin-top: 16px;
  }
}
body#tinymce.wp-editor p,
body#tinymce.wp-editor table {
  margin-top: 4px;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor p,
body#tinymce.wp-editor table {
    margin-top: 8px;
  }
}
@media print {
  body#tinymce.wp-editor p,
body#tinymce.wp-editor table {
    margin-top: 8px;
  }
}
body#tinymce.wp-editor dfn,
body#tinymce.wp-editor cite,
body#tinymce.wp-editor em,
body#tinymce.wp-editor i {
  font-style: italic;
}
body#tinymce.wp-editor blockquote {
  background-color: #f7f7f7;
  color: #666;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 0.5em;
  padding-left: 1.5em;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor blockquote {
    font-size: 15px;
  }
}
@media print {
  body#tinymce.wp-editor blockquote {
    font-size: 15px;
  }
}
body#tinymce.wp-editor blockquote.alignleft,
body#tinymce.wp-editor blockquote.alignright {
  font-size: 14px;
  font-size: 1.4rem;
  width: 34%;
}
body#tinymce.wp-editor address {
  margin: 0 0 1.5em;
}
body#tinymce.wp-editor pre {
  background: #f7f7f7;
  line-height: 1.5;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
body#tinymce.wp-editor code,
body#tinymce.wp-editor kbd,
body#tinymce.wp-editor tt,
body#tinymce.wp-editor var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
body#tinymce.wp-editor abbr,
body#tinymce.wp-editor acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
body#tinymce.wp-editor mark,
body#tinymce.wp-editor ins {
  background: #eee;
  text-decoration: none;
}
body#tinymce.wp-editor big {
  font-size: 125%;
}
body#tinymce.wp-editor dl dt {
  font-weight: 600;
}
body#tinymce.wp-editor blockquote,
body#tinymce.wp-editor q {
  quotes: "" "";
}
body#tinymce.wp-editor blockquote:before,
body#tinymce.wp-editor blockquote:after,
body#tinymce.wp-editor q:before,
body#tinymce.wp-editor q:after {
  content: "";
}
body#tinymce.wp-editor hr {
  background-color: #bbb;
  border: 0;
  height: 1px;
  margin-bottom: 1em;
}
body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 1em;
  padding: 0;
}
body#tinymce.wp-editor ul {
  list-style: disc;
}
body#tinymce.wp-editor ol h1,
body#tinymce.wp-editor ol h2,
body#tinymce.wp-editor ol h3,
body#tinymce.wp-editor ol h4,
body#tinymce.wp-editor ol h5,
body#tinymce.wp-editor ol h6 {
  border: none;
  padding: 0;
}
body#tinymce.wp-editor ol h3 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 10px;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor ol h3 {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
@media print {
  body#tinymce.wp-editor ol h3 {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
body#tinymce.wp-editor ol h4 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor ol h4 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
@media print {
  body#tinymce.wp-editor ol h4 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
body#tinymce.wp-editor ol p {
  margin-bottom: 5px;
}
body#tinymce.wp-editor ol li {
  margin-bottom: 0.5em;
}
body#tinymce.wp-editor li > ul,
body#tinymce.wp-editor li > ol {
  margin-bottom: 1em;
  margin-left: 1em;
}
body#tinymce.wp-editor li ol {
  font-size: 90%;
}
body#tinymce.wp-editor li ol li {
  margin-bottom: 0.5em;
}
body#tinymce.wp-editor table {
  font-size: 10px;
  font-size: 1rem;
}
@media print, screen and (min-width: 768px) {
  body#tinymce.wp-editor table {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
@media print {
  body#tinymce.wp-editor table {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
body#tinymce.wp-editor table tbody th {
  width: auto;
}
body#tinymce.wp-editor a {
  color: #181818;
  text-decoration: underline;
}
body#tinymce.wp-editor a:hover {
  color: #323232;
}
body#tinymce.wp-editor .btn-blue {
  color: #fff;
}
body#tinymce.wp-editor .btn-blue:hover {
  color: #fff;
}
body#tinymce.wp-editor img {
  display: block;
  height: auto;
  max-width: 100%;
}
body#tinymce.wp-editor .box img {
  margin: 0 auto;
}
body#tinymce.wp-editor embed,
body#tinymce.wp-editor iframe,
body#tinymce.wp-editor object {
  margin-bottom: 1.5em;
  max-width: 100%;
}
body#tinymce.wp-editor strong {
  font-weight: 700;
}
body#tinymce.wp-editor em {
  font-style: italic;
}
body#tinymce.wp-editor blockquote {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
  display: block;
}